Package: com.pxx917144686.surge
Name: Surge_pxx
Version: 0.4.1
Architecture: iphoneos-arm64-rootless
Maintainer: Nets
Author: pxx917144686
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
Description: Surge for iOS
